@model NewPostViewModel


<h1>New post for @Model.ForumName Forum</h1>
<form asp-controller="Post" asp-action="Create" method="post" id="addPostForm">
    <input hidden asp-for="ForumId" />
    <input hidden asp-for="AuthorName" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <input asp-for="Content" class="form-control" />
    </div>
    <button type="submit" id="submitPostBtn" class="btn btn-primary">Submit Post</button>
</form>

