@model RegisterViewModel




<div class="container">
    <div class="row">
        
        <div class="col-md-4"></div>
        <div class="col-md-8 ">
            <h3>Register new account!</h3>
            <br />
            <form asp-controller="Account" asp-action="register" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Username"></label>
                <span asp-validation-for="Username" class="text-danger"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                    <input asp-for="Username" style="width:300px" type="text" class="form-control" placeholder="Username" />
                </div>
                <br />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
                    <input asp-for="Email" style="width:300px" type="email" class="form-control" placeholder="Email" />
                </div>

                <br />
                <label asp-for="Password"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                    <input asp-for="Password" style="width:300px" type="password" class="form-control" placeholder="Password" />
                </div>
                <br />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                    <input asp-for="ConfirmPassword" style="width:300px" type="password" class="form-control" placeholder="Confirm password" />
                </div>
                <br />
                <button class="btn btn-success" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
